<a href="https://colab.research.google.com/github/LeoGamaJ/Python---DataScience/blob/main/Python_for_DataScience_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [ ]:
# Criando serie para exemplo

valores_nan = np.nan

serie = Series(["linha 1", "linhda2", valores_nan, "linhda 4", "linhda 5", "linha 6", valores_nan, "linha 8" ])
serie

0     linha 1
1     linhda2
2         NaN
3    linhda 4
4    linhda 5
5     linha 6
6         NaN
7     linha 8
dtype: object

In [ ]:
# Exibindo valores ausentes NaN
serie.isnull()

0    False
1    False
2     True
3    False
4    False
5    False
6     True
7    False
dtype: bool

In [ ]:
# Criando df com valores NaN

np.random.seed(25)

df = DataFrame(np.random.rand(36).reshape((6,6)))
df.loc[3:5, 0] = valores_nan
df.loc[1:4, 0] = valores_nan

df

          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1       NaN  0.437611  0.556229  0.367080  0.402366  0.113041
2       NaN  0.585445  0.161985  0.520719  0.326051  0.699186
3       NaN  0.836375  0.481343  0.516502  0.383048  0.997541
4       NaN  0.559053  0.034450  0.719930  0.421004  0.436935
5       NaN  0.900274  0.669612  0.456069  0.289804  0.525819

In [ ]:
# Preenchendo valores NaN com 0

df_preenchido = df.fillna(0)
df_preenchido

          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1  0.000000  0.437611  0.556229  0.367080  0.402366  0.113041
2  0.000000  0.585445  0.161985  0.520719  0.326051  0.699186
3  0.000000  0.836375  0.481343  0.516502  0.383048  0.997541
4  0.000000  0.559053  0.034450  0.719930  0.421004  0.436935
5  0.000000  0.900274  0.669612  0.456069  0.289804  0.525819

In [ ]:
dicio = {0: 0.1, 5: 1.25}
df_preenchido = df.fillna(dicio)
df_preenchido

          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1  0.100000  0.437611  0.556229  0.367080  0.402366  0.113041
2  0.100000  0.585445  0.161985  0.520719  0.326051  0.699186
3  0.100000  0.836375  0.481343  0.516502  0.383048  0.997541
4  0.100000  0.559053  0.034450  0.719930  0.421004  0.436935
5  0.100000  0.900274  0.669612  0.456069  0.289804  0.525819

In [ ]:
# Contando os valores NaN

df.isnull().sum()

0    5
1    0
2    0
3    0
4    0
5    0
dtype: int64

In [ ]:
# Conjunto de linhas e colunas que não apresentam valores em branco

df.dropna()

          0         1         2         3       4         5
0  0.870124  0.582277  0.278839  0.185911  0.4111  0.117376