<a href="https://colab.research.google.com/github/LeoGamaJ/Python---DataScience/blob/main/Python_for_DataScience_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Transformando dados

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.DataFrame(np.arange(36).reshape(6,6))
df

    0   1   2   3   4   5
0   0   1   2   3   4   5
1   6   7   8   9  10  11
2  12  13  14  15  16  17
3  18  19  20  21  22  23
4  24  25  26  27  28  29
5  30  31  32  33  34  35

In [ ]:
# Remover Dados
# Linhas

df.drop([0, 2])

    0   1   2   3   4   5
1   6   7   8   9  10  11
3  18  19  20  21  22  23
4  24  25  26  27  28  29
5  30  31  32  33  34  35

In [ ]:
# Remover Dados
# Colunas

df.drop([1, 2], axis=1)

    0   3   4   5
0   0   3   4   5
1   6   9  10  11
2  12  15  16  17
3  18  21  22  23
4  24  27  28  29
5  30  33  34  35

In [ ]:
serie = pd.Series(np.arange(6))
serie.name = "nova_variavel"

serie

0    0
1    1
2    2
3    3
4    4
5    5
Name: nova_variavel, dtype: int64

In [ ]:
# unindo DataFrame com join 

novo_df = pd.DataFrame.join(df, serie)
novo_df

    0   1   2   3   4   5  nova_variavel
0   0   1   2   3   4   5              0
1   6   7   8   9  10  11              1
2  12  13  14  15  16  17              2
3  18  19  20  21  22  23              3
4  24  25  26  27  28  29              4
5  30  31  32  33  34  35              5

In [ ]:
# Ordenando Objetos

df_ordenado = novo_df.sort_values(by=["nova_variavel"], ascending=False)
df_ordenado

    0   1   2   3   4   5  nova_variavel
5  30  31  32  33  34  35              5
4  24  25  26  27  28  29              4
3  18  19  20  21  22  23              3
2  12  13  14  15  16  17              2
1   6   7   8   9  10  11              1
0   0   1   2   3   4   5              0